<h1 class="txt-large">
  <div class="filter align-center gap-half" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn btn--plain filter__button" data-action="click->dialog#toggle" data-dialog-modal-value="true">
      <%= main_filter_text %>
    </button>

    <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
      <menu class="filter__menu unpad margin-none">
        <% Bucket::View::ORDERS.each do |key, value| %>
          <li><%= link_to value.upcase_first, bucket_bubbles_path(bucket, bubble_filter_params.merge(order_by: key, status: nil)), class: "filter__button" %></li>
        <% end %>

        <% Bucket::View::STATUSES.each do |key, value| %>
          <li><%= link_to value.upcase_first, bucket_bubbles_path(bucket, bubble_filter_params.merge(order_by: nil, status: key)), class: "filter__button" %></li>
        <% end %>
      </menu>
    </dialog>
  </div>

  in

  <div class="filter align-center gap-half" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn btn--plain filter__button" data-action="click->dialog#toggle" data-dialog-modal-value="true">
      <%= bucket.name %>
    </button>

    <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
      <menu class="filter__menu unpad margin-none">
        <% Current.user.buckets.order(:name).each do |bucket| %>
          <li><%= link_to bucket.name, bucket_bubbles_path(bucket, bubble_filter_params), class: "filter__button" %></li>
        <% end %>
      </menu>
    </dialog>

    <%= link_to edit_bucket_url(bucket), class: "btn btn--plain", style: "font-size: 0.25em;" do %>
      <%= image_tag "pencil.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Edit</span>
    <% end %>
  </div>
</h1>

<h2 class="txt-medium flex align-center justify-center gap-half">
  <%= @tag_filters ? "Tagged" : "with" %>

  <div class="filter align-center gap-half" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
    <button class="btn btn--plain filter__button" data-action="click->dialog#toggle" data-dialog-modal-value="true">
      <%= tag_filter_text %>
    </button>

    <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
      <menu class="filter__menu unpad margin-none">
        <% bucket.tags.order(:title).each do |tag| %>
          <li><%= link_to tag.title, bucket_bubbles_path(bucket, bubble_filter_params.merge(tag_ids: [ tag.id ])) %></li>
        <% end %>
      </menu>
    </dialog>

    <% if @tag_filters %>
      <%= link_to bucket_bubbles_path(bucket, bubble_filter_params.without(:tag_ids)), class: "btn", style: "font-size: 0.4em;" do %>
        <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
        <span class="for-screen-reader">Clear</span>
      <% end %>
    <% end %>
  </div>

  <% unless status_filter_param.unassigned? %>
    and

    <div class="filter align-center gap-half" data-controller="dialog" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside">
      <button class="btn btn--plain filter__button" data-action="click->dialog#toggle" data-dialog-modal-value="true">
        <%= assignee_filter_text %>
      </button>

      <dialog class="filter__popup panel fill-white shadow" data-dialog-target="dialog">
        <menu class="filter__menu unpad margin-none">
          <% bucket.users.active.order(:name).each do |user| %>
            <li><%= link_to user.name, bucket_bubbles_path(bucket, bubble_filter_params.merge(assignee_ids: [ user.id ])) %></li>
          <% end %>
        </menu>
      </dialog>

      <% if @assignee_filters %>
        <%= link_to bucket_bubbles_path(bucket, bubble_filter_params.without(:assignee_ids)), class: "btn", style: "font-size: 0.4em;" do %>
          <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Clear</span>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= button_to bucket_views_path(bucket), class: "btn", style: "font-size: 0.4em;" do %>
    <%= hidden_field_tag :order_by, params[:order_by], name: "view[order_by]" %>
    <%= hidden_field_tag :status, params[:status], name: "view[status]" %>
    <%= hidden_field_tag :assignee_ids, Array(params[:assignee_ids]).join(","), name: "view[assignee_ids]" %>
    <%= hidden_field_tag :tag_ids, Array(params[:tag_ids]).join(","), name: "view[tag_ids]" %>

    <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
    <span class="for-screen-reader">Save filters</span>
  <% end %>
</h2>
